.btn {
    height: 50px;
    background-color: #EBEEFF;
    border: none;
    color: #3519FB;
    cursor: pointer;
}

.secondary {
    background-color: white;
    border-bottom: 1px solid #E6EDF5;
    color: #505050;
}

.secondary:hover {
    background-color: #EBEEFF;
    color: #3519FB;
}