.sidebar {
  width: 360px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.sidebar .scroll {
  overflow-y: auto;
}

.sidebar .scroll::-webkit-scrollbar {
  display: none;
}

.logo {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  padding: 15px;
}

.group {
  display: flex;
  flex-direction: column;
}
